// Variables

// Colors
$black: #444;
$white: #fff;
$gray: #ccc;
$red: #FC3A3A;
$blue: #223344;

// Color classes
.black {color: $black}
.white {color: $white}
.gray {color: $gray}

// Breakpoints
$bpSmall: 30em; // 480px
$bpMed: 43.75em; // 700px
$bpBig: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px
